<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>ServletName</servlet-name>
        <servlet-class>ua.finalproject.controller.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletName</servlet-name>
        <url-pattern>/taxi/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>
            ua.finalproject.controller.listeners.SessionListener
        </listener-class>
    </listener>

    <listener>
        <listener-class>
            ua.finalproject.controller.listeners.ContextListener
        </listener-class>
    </listener>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
            <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>LanguageFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>PublicPagesFilter</filter-name>
        <url-pattern>/taxi/index</url-pattern>
        <url-pattern>/taxi/login</url-pattern>
        <url-pattern>/</url-pattern>
        <url-pattern>/taxi</url-pattern>
        <url-pattern>/taxi/user_registration</url-pattern>
        <url-pattern>/taxi/user_registration_page</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AdminPagesFilter</filter-name>
        <url-pattern>/taxi/all_cars</url-pattern>
        <url-pattern>/taxi/admin_foundation</url-pattern>
        <url-pattern>/taxi/add_discount_page</url-pattern>
        <url-pattern>/taxi/add_discount</url-pattern>
        <url-pattern>/taxi/add_car_page</url-pattern>
        <url-pattern>/taxi/add_car</url-pattern>
        <url-pattern>/taxi/all_users</url-pattern>
        <url-pattern>/taxi/delete_user</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserPagesFilter</filter-name>
        <url-pattern>/taxi/make_order_page</url-pattern>
        <url-pattern>/taxi/make_order</url-pattern>
        <url-pattern>/taxi/user_foundation</url-pattern>
        <url-pattern>/taxi/cancel_order</url-pattern>
        <url-pattern>/taxi/confirm_order</url-pattern>
        <url-pattern>/taxi/my_orders</url-pattern>
        <url-pattern>/taxi/my_discount</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>taxi/index</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <taglib>
            <taglib-uri>https://mytags.com.ua</taglib-uri>
            <taglib-location>/WEB-INF/moneyFormatter.tld</taglib-location>
        </taglib>

        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>


    <!--<error-page>-->
        <!--<exception-type>java.lang.Exception</exception-type>-->
        <!--<location>/WEB-INF/error.jsp</location>-->
    <!--</error-page>-->

    <!--<error-page>-->
        <!--<error-code>500</error-code>-->
        <!--<location>/WEB-INF/error.jsp</location>-->
    <!--</error-page>-->
</web-app>
